.navbar {
  @media (max-width: 550px) {
    padding: 10px 0px!important;
  }
  .nav-link{
    font-size: 15px;
    color: #505050;
    font-weight: bold;
  }
  .navbar-brand{
    img{
      width: 40px;
    }
  }
  .search-icon, .cart-icon{
    display: inline-block;
    margin-right: 25px;
  }
  .search-icon{
    width: 15px;
    margin-top: 14px;
    @media (max-width: 770px) {
      margin-top: 4px;
    }
  }
  .navbar-collapse.show, .navbar-collapse.collapsing{
    @media (max-width: 770px) {
      position: absolute;
      top: 60px;
      display: block;
      width: 100%;
      background-color: #fff;
      z-index: 30;
      left: 0px;
      padding: 0 20px;
    }
  }
  //.navbar-collapse.collapsing{
  //  @media (max-width: 770px) {
  //    position: absolute;
  //    left: 20px;
  //    top: 60px;
  //  }
  //}
  .search-input{
    border-top: unset;
    border-left: unset;
    border-right: unset;
    border-bottom: 2px solid #eca80e;
    display: inline-block;
    margin-right: 30px;
    margin-left: -20px;
    outline: unset;
    width: 150px;
    @media (max-width: 550px) {
      position: absolute;
      width: 90%;
      left: 0;
      top: 60px;
      right: 0;
      margin: auto;
    }
  }
  .cart-icon{
    width: 18px;
    display: inline-block;
    margin-top: 0px;
  }
  .right-nav{
    @media (max-width: 770px) {
      display: unset!important;
      .nav-item, .nav-link{
        display: inline-block!important;
      }
    }
  }

}