$small-text-color: rgba(125, 125, 125, 0.49);;
.product{
  font-size: 15px;
  img{
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  small{
    color: $small-text-color;
  }
  .buy-now-button{
    background-color: black;
    color: #ffffff;
    border: unset;
    height: 35px;
  }
}